<table>
  <caption>&gt;&nbsp;<%= @breadcrumbs.collect{ |b| link_to( b[:name], directory_path( :id => path_to_id( b[:location] ) ) ) }.join( " &gt; " ) %></caption>
  <thead>
    <tr>
      <th>
        <% form_tag directory_path( :id => path_to_id( @directory.path ) ), :method => 'post', :id => 'form_add_folder' do -%> 
          <%= hidden_field_tag 'directory[name]', '', :id => 'input_directory_name' %>
          <%= link_to_function image_tag( 'folder_add.png', :alt => "Add a folder" ), "Directory.postDirectory( this )" %>
        <% end -%>
      </th>
      <th><%= link_to_function image_tag( 'page_white_add.png', :alt => "Upload a file" ), "$( 'tr#tr_upload' ).toggle()" %></th>
      <th colspan="2">name</th>
      <th>size</th>
      <th>modified</th>
    </tr>
  </thead>
  <tbody>
    <tr id="tr_upload" style="display:none">
      <td>&nbsp;</td>
      <td colspan="5">
        <% form_tag "#{ UPLOAD_HOST }/upload/post", :id => "upload", :enctype => "multipart/form-data", :method => "post" do -%>
          <%= hidden_field_tag 'directory[path]', path_to_id( @directory.path ) %>
          <input name="file" type="file">
          <input type="submit" value="Upload">
        <% end -%>
        <div id="progress" class="bar" style="display:none">
          <div id="progressbar">&nbsp;</div>
        </div>
        <div id="percents"></div>
        <div id="estimates"></div>
      </td>
    </tr>
    <% @directory.directories.each do |directory| -%>
      <% if directory[:name] == ".." -%>
        <% unless Directory.is_root? @directory.path -%>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= link_to image_tag( "arrow_up.png", :alt => "parent directory" ), directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td class="name"><%= link_to "parent directory", directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
        <% end -%>
      <% elsif directory[:name] != "." -%>
    <tr>
      <td>
        <% form_tag directory_path( :id => path_to_id( directory[:location] ) ), :method => 'delete' do -%> 
          <%= hidden_field_tag 'file_delete', "" %>
          <%= link_to_function image_tag( 'folder_delete.png', :alt => "Delete " + directory[:name] ), "Directory.deleteDirectory( this )" %>
        <% end -%>
      </td>
      <td>
        <% form_tag directory_path( :id => path_to_id( directory[:location] ) ), :method => 'put' do -%> 
          <%= hidden_field_tag 'directory[name]', directory[:name] %>
          <%= link_to_function image_tag( 'folder_edit.png', :alt => "Rename " + directory[:name] ), "Directory.putDirectory( this )" %>
        <% end -%>
      </td>
      <td><%= link_to image_tag( "folder.png", :alt => directory[:name] ), directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td class="name"><%= link_to directory[:name], directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      <% end -%>
    <% end -%>
    <% @directory.files.each do |file| -%>
    <tr>
      <td>
        <% form_tag file_path( :id => path_to_id( file[:location] ) ), :method => 'delete', :id => "form_delete_file_#{ file[:name] }" do -%> 
          <%= hidden_field_tag 'file_delete', "" %>
          <%= link_to_function image_tag( 'page_white_delete.png', :alt => "Delete " + file[:name] ), "File.deleteFile( this )" %>
        <% end -%>
      </td>
      <td>
        <% form_tag file_path( :id => path_to_id( file[:location] ) ), :method => 'put' do -%> 
          <%= hidden_field_tag 'file[name]', file[:name] %>
          <%= link_to_function image_tag( 'page_white_edit.png', :alt => "Rename " + file[:name] ), "File.putFile( this )" %>
        <% end -%>
      </td>
      <td><%= link_to image_tag( "page_white.png", :alt => file[:name] ), download_path( file[:location] ) %></td>
      <td class="name"><%= link_to file[:name], download_path( file[:location] ) %></td>
      <td><%= number_to_human_size( file[:size] ) %></td>
      <td><%= file[:ctime].strftime("%m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
<% javascript_tag do -%>
$(function() {
  $('form#upload').uploadProgress({
		/* scripts locations for safari */
		jqueryPath: "/javascripts/jquery.js",
		uploadProgressPath: "/javascripts/jquery.uploadProgress.js",
		progressUrl: "/progress",
		start:function(){ $( 'div#progress' ).toggle() },
		uploading: function(upload) {
		  $('#percents').html( upload.percents+'%' );
		  if( parseInt( upload.speed ) > 0 ) {
		    $('#estimates').html( 'approximately '+readableTime( upload.remaining )+' remaining at '+readableBytes( parseInt( upload.speed ), 2, false )+'/s' );
		  } else {
		    $('#estimates').html( 'waiting for server...' );
		  }
		},
		success: function(upload) {
		  $('#percents').html( '100%' );
      $('#estimates').html( 'transfer complete' );
		},
		error: function(upload) {
      $('#estimates').html( 'connection error...' );
		},
		interval: 1750
  });
});
<% end -%>

