<table>
  <caption><%= @breadcrumbs.collect{ |b| link_to( b[:name], directory_path( :id => path_to_id( b[:location] ) ) ) }.join( " &gt; " ) %></caption>
  <thead>
    <tr>
      <% form_tag directory_path( :id => path_to_id( @directory.path ) ), :method => 'post', :id => 'form_add_folder' do -%> 
      <th>
        <%= hidden_field_tag 'directory[name]', '', :id => 'input_directory_name' %>
        <%= link_to_function image_tag( 'folder_add.png', :alt => "Add a folder" ), "Directory.postDirectory('form_add_folder','input_directory_name')" %>
      </th>
      <% end -%>
      <th><%= link_to_function image_tag( 'page_white_add.png', :alt => "Upload a file" ), "$( 'tr#tr_upload' ).toggle()" %></th>
      <th colspan="2">name</th>
      <th>size</th>
      <th>modified</th>
    </tr>
  </thead>
  <tbody>
    <tr id="tr_upload" style="display:none">
      <td>&nbsp;</td>
      <td colspan="5">
        <% form_tag "#{ UPLOAD_HOST }/upload/post", :id => "upload", :enctype => "multipart/form-data", :method => "post" do -%>
          <%= hidden_field_tag 'directory[path]', path_to_id( @directory.path ) %>
          <input name="file" type="file">
          <input type="submit" value="Upload">
        <% end -%>
        <div id="progress" class="bar">
          <div id="progressbar">&nbsp;</div>
        </div>
        <div id="percents"></div>
      </td>
    </tr>
    <% @directory.directories.each do |directory| -%>
      <% if directory[:name] == ".." -%>
        <% unless Directory.is_root? @directory.path -%>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= link_to image_tag( "arrow_up.png", :alt => "parent directory" ), directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td class="name"><%= link_to "parent directory", directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
        <% end -%>
      <% elsif directory[:name] != "." -%>
    <tr>
      <% form_tag directory_path( :id => path_to_id( directory[:location] ) ), :method => 'delete', :id => "form_delete_folder_#{ directory[:name] }" do -%> 
      <td>
        <%= link_to_function image_tag( 'folder_delete.png', :alt => "Delete " + directory[:name] ), "Directory.deleteDirectory('form_delete_folder_#{ directory[:name] }')" %>
      </td>
      <% end -%>
      <% form_tag directory_path( :id => path_to_id( directory[:location] ) ), :method => 'put', :id => "form_folder_#{ directory[:name] }" do -%> 
      <td>
        <%= hidden_field_tag 'directory[name]', directory[:name], :id => "input_directory_#{ directory[:name] }_name" %>
        <%= link_to_function image_tag( 'folder_edit.png', :alt => "Rename " + directory[:name] ), "Directory.putDirectory('form_folder_#{ directory[:name] }','input_directory_#{ directory[:name] }_name')" %>
      </td>
      <% end -%>
      <td><%= link_to image_tag( "folder.png", :alt => directory[:name] ), directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td class="name"><%= link_to directory[:name], directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      <% end -%>
    <% end -%>
    <% @directory.files.each do |file| -%>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= link_to image_tag( "file.png", :alt => file[:name] ), download_path( file[:location] ) %></td>
      <td class="name"><%= link_to file[:name], download_path( file[:location] ) %></td>
      <td><%= number_to_human_size( file[:size] ) %></td>
      <td><%= file[:ctime].strftime("%m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end -%>
  </thead>
</table>
<% javascript_tag do -%>
$(function() {
  $('form#upload').uploadProgress({
		/* scripts locations for safari */
		jqueryPath: "http://lwdg.port49.com/javascripts/jquery.js",
		uploadProgressPath: "http://lwdg.port49.com/javascripts/jquery.uploadProgress.js",
		progressUrl: "<%= UPLOAD_HOST %>/progress",
		start:function(){},
		uploading: function(upload) {$('#percents').html(upload.percents+'%');},
		interval: 2000
  });
});
<% end -%>
