<table>
  <caption>&gt;&nbsp;<%= @breadcrumbs.collect{ |b| link_to( b[:name], directory_path( :id => path_to_id( b[:location] ) ) ) }.join( " &gt; " ) %></caption>
  <tbody>
    <tr>
      <td style="width:13em;">
        <% form_tag directory_path( :id => path_to_id( @directory.path ) ), :method => 'post', :id => 'form_add_folder' do -%> 
          <%= hidden_field_tag 'directory[name]', '', :id => 'input_directory_name' %>
          <%= link_to_function image_tag( 'folder_add.png', :alt => "Add a folder" ) + '&nbsp;create&nbsp;new&nbsp;folder', "Directory.postDirectory( this )", :class => 'add' %>
        <% end -%>
      </td>
      <td><%= link_to_function image_tag( 'page_white_add.png', :alt => "Upload a file" ) + '&nbsp;upload&nbsp;new&nbsp;files', "$( 'tr#tr_upload' ).toggle()", :class => 'add' %></td>
      <td>&nbsp;</td>
    </tr>
    <tr id="tr_upload" style="display:none">
      <td>&nbsp;</td>
      <td class="files_queue">
        <% form_tag "#{ UPLOAD_HOST }/upload/post", :id => "upload", :enctype => "multipart/form-data", :method => "post" do -%>
          <%= hidden_field_tag 'directory[path]', path_to_id( @directory.path ) %>
          <input name="file[0]" type="file" /><button onclick="File.addInput( this );return false;">+</button>
          <div>
            <input type="submit" value="Upload Files" />
          </div>
        <% end -%>
        <div id="progress_container" style="display:none">
          <div id="totals"></div>
          <div id="progress" class="bar">
            <div id="progressbar">&nbsp;</div>
          </div>
          <div id="percents"></div>
          <div id="estimates"></div>
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="2">name</th>
      <th>size</th>
      <th>modified</th>
    </tr>
  </thead>
  <tbody>
    <% unless Directory.is_root? @directory.path -%>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= link_to image_tag( "arrow_up.png", :alt => "parent directory" ), directory_path( :id => path_to_id( @directory.directories.detect{ |d| d[:name] == ".." }[:location] ) ) %></td>
      <td class="name"><%= link_to "parent directory", directory_path( :id => path_to_id( @directory.directories.detect{ |d| d[:name] == ".." }[:location] ) ) %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <% end -%>
    <% @directory.directories.reject{ |d| d[:name].match /^\./ }.each do |directory| -%>
    <tr>
      <td>
        <% form_tag directory_path( :id => path_to_id( directory[:location] ) ), :method => 'delete' do -%> 
          <%= hidden_field_tag 'file_delete', "" %>
          <%= link_to_function image_tag( 'folder_delete.png', :alt => "Delete " + directory[:name] ), "Directory.deleteDirectory( this )" %>
        <% end unless ( directory[:location] == Directory.restricted ) -%>
      </td>
      <td>
        <% form_tag directory_path( :id => path_to_id( directory[:location] ) ), :method => 'put' do -%> 
          <%= hidden_field_tag 'directory[name]', directory[:name] %>
          <%= link_to_function image_tag( 'folder_edit.png', :alt => "Rename " + directory[:name] ), "Directory.putDirectory( this )" %>
        <% end unless ( directory[:location] == Directory.restricted )  -%>
      </td>
      <td><%= link_to image_tag( "folder.png", :alt => directory[:name] ), directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td class="name"><%= link_to directory[:name], directory_path( :id => path_to_id( directory[:location] ) ) %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <% end -%>
    <% @directory.files.reject{ |f| f[:name].match /^\./ }.each do |file| -%>
    <tr>
      <td>
        <% form_tag file_path( :id => path_to_id( file[:location] ) ), :method => 'delete', :id => "form_delete_file_#{ file[:name] }" do -%> 
          <%= hidden_field_tag 'file_delete', "" %>
          <%= link_to_function image_tag( 'page_white_delete.png', :alt => "Delete " + file[:name] ), "File.deleteFile( this )" %>
        <% end -%>
      </td>
      <td>
        <% form_tag file_path( :id => path_to_id( file[:location] ) ), :method => 'put' do -%> 
          <%= hidden_field_tag 'file[name]', file[:name] %>
          <%= link_to_function image_tag( 'page_white_edit.png', :alt => "Rename " + file[:name] ), "File.putRenameFile( this )" %>
        <% end -%>
      </td>
      <td>
        <% form_tag file_path( :id => path_to_id( file[:location] ) ), :method => 'put' do -%> 
          <%= hidden_field_tag 'file[public]', 'true' %>
          <%= link_to_function image_tag( 'page_white_link.png', :alt => "Make #{ file[:name] } public" ), "File.putLinkFile( this )" %>
        <% end -%>
      </td>
      <td class="name"><%= link_to file[:name], download_path( file[:location] ) %><%= "<br />" + download_path( file[:location] ) if file[:public] %></td>
      <td><%= number_to_human_size( file[:size] ) %></td>
      <td><%= file[:ctime].strftime("%m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
<% javascript_tag do -%>
$(function() {
  $('form#upload').uploadProgress({
		/* scripts locations for safari */
		jqueryPath: "/javascripts/jquery.js",
		uploadProgressPath: "/javascripts/jquery.uploadProgress.js",
		progressUrl: "/progress",
		start:function(){ $( 'div#progress_container' ).toggle() },
		uploading: function(upload) {
		  $('#totals').html( 'uploading '+readableBytes( parseInt( upload.size ), 2, false ) );
		  $('#percents').html( upload.percents+'%' );
		  if( parseInt( upload.speed ) > 0 ) {
		    $('#estimates').html( 'approximately '+readableTime( upload.remaining )+' remaining at '+readableBytes( parseInt( upload.speed ), 2, false )+'/s' );
		  } else {
		    $('#estimates').html( 'waiting for server...' );
		  }
		},
		success: function(upload) {
		  $('#percents').html( '100%' );
      $('#estimates').html( 'transfer complete' );
		},
		error: function(upload) {
      $('#estimates').html( 'connection error, halted' );
		},
		interval: 1750
  });
});
<% end -%>

