<html>
  <head>
    <title>Lone Wolf Documentary Group File Manager</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.uploadProgress' %>
    <%= javascript_include_tag 'jrails' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <div id="top">
      <div class="topNavigation">
        <div>
          <% if username == "admin" -%>
          <%= link_to "Folders", directories_path, :class => selected_if( params[:controller] == "directories" %>
          <%= link_to "Users", "users_path", :class => selected_if( params[:controller] == "users" %>
          <% end -%>
        </div>
      </div>
    </div>
    <div id="middle">
    <%= yield %>
    </div>
    <div id="bottom">
      <div class="footer">&#169; Lone Wolf Documentary Group</div>
    </div>

  </body>
</html>
