<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Lone Wolf Documentary Group File Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.uploadProgress' %>
    <%= javascript_include_tag 'application' %>
    <% javascript_tag do -%>
$(function() {
  $('form#upload').uploadProgress({
		/* scripts locations for safari */
		jqueryPath: "http://lwdg.port49.com/javascripts/jquery.js",
		uploadProgressPath: "http://lwdg.port49.com/javascripts/jquery.uploadProgress.js",
		progressUrl: "http://lwdg.port49.com/progress",
		start:function(){},
		uploading: function(upload) {$('#percents').html(upload.percents+'%');},
		interval: 2000
  });
});
<% end if @show_progress -%>
  </head>
  <body>
<% if @show_progress -%>
<div id="uploading">
  <div id="progress" class="bar">
    <div id="progressbar">&nbsp;</div>
  </div>
</div>
<div id="percents"></div>
<% end -%>

    <div id="top">
      <div class="topNavigation">
        <div>
          <% if admin? -%>
          <%= link_to "Folders", directories_path, :class => selected_if( params[:controller] == "directories" ) %>
          <%= link_to "Users", users_path, :class => selected_if( params[:controller] == "users" ) %>
          <% end -%>
        </div>
      </div>
    </div>
    <div id="middle">
    <%= yield %>
    </div>
    <div id="bottom">
      <div class="footer">&#169; Lone Wolf Documentary Group</div>
    </div>

  </body>
</html>
